.center {
    display: flex;
    justify-content: center;
}

body {
    background-image: url("../assets/body-bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

app-slot-booking-form {
    background: rgba(112, 112, 111, 0.8);
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}


/* h1 {
    color: #14eeee;
    font-style: oblique;
    text-shadow: 2px 2px 5px red;
  } */